.example-card {
  max-width: 600px;
  display: block;
  margin: auto;
}
.example-header-image {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfm8UnQUb93iMa_J1a9GuKRJ1LWIzTD8dxrA&usqp=CAU");
  background-size: cover;
}
Button {
  border: none;
}
